services:

  gitlab-server:
    image: 'gitlab/gitlab-ce:latest'
    container_name: gitlab-server
    environment:
      GITLAB_ROOT_EMAIL: "admin@buildwithlal.com"
      GITLAB_ROOT_PASSWORD: "Abcd@0123456789"
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://g4b.k3p.ca'
        nginx['listen_port'] = 8022
        nginx['listen_https'] = false
        nginx['redirect_http_to_https'] = false
    ports:
      - '8022:8022'
    restart: always
    volumes:
      - ./gitlab/config:/etc/gitlab
      - ./gitlab/data:/var/opt/gitlab

  
  # new changes for adding Gitlab Runner container
  gitlab-runner:
    image: gitlab/gitlab-runner:ubuntu
    container_name: gitlab-runner
    volumes:
      - ./gitlab/gitlab-runner:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock # Mount Docker socket for DinD
    restart: always
    environment:
      - RUNNER_EXECUTOR=docker
      - DOCKER_PRIVILEGED=true
      - DOCKER_IMAGE=docker:latest
      - DOCKER_SERVICES_DOCKER_IN_DOCKER=true
